body {
  background-image: url("/images/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Inter", sans-serif;
}

header img {
  margin-top: 5%;
  margin-left: 5%;
  height: 73px;
}

footer {
  position: fixed;
  bottom: 3%;
  left: 5%;
}

footer p {
  font-size: 24px;
  line-height: 32px;
  color: white;
}
